<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 支持注解 -->
	<global-method-security pre-post-annotations="enabled" />					
	
	<!-- 过滤权限不要加载的地址 -->
	<http pattern="/static/**" security="none"></http>
	<http pattern="/loggedout.jsp" security="none"></http>
	
	<http>
		<intercept-url pattern="/**" access="hasAuthority('root')"/>
		<!-- 添加系统登陆页面 -->
		<form-login authentication-failure-forward-url="/failure.action" authentication-success-forward-url="/success.action"/>
		<!-- 退出时页面  及清除缓存 -->
		<logout logout-success-url="/loggedout.jsp" delete-cookies="JSESSIONID"/>
		<!-- 记住账号密码 -->
		<remember-me/>
		<!-- 过期时跳转页面 -->
		<session-management  invalid-session-url="/timeout.jsp">
			<!-- 只缓存一个用户  替换用户时缓存后面的用户 -->
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</session-management>
	</http>
	
	<!--
	Usernames/Passwords are
		rod/koala
		dianne/emu
	-->
	<!-- 加密算法 -->
	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<!-- 设置用户账号密码 -->
	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="encoder" />
			<user-service>
				<user name="rose" password="$2a$10$75pBjapg4Nl8Pzd.3JRnUe7PDJmk9qBGwNEJDAlA3V.dEJxcDKn5O" authorities="root,admin,adtest"/>
				<user name="dianne" password="$2a$04$bCMEyxrdF/7sgfUiUJ6Ose2vh9DAMaVBldS1Bw2fhi1jgutZrr9zm" authorities="root"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
	
</beans:beans>